html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
} 

/*  loader one */

.loaderOne {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    /* background-color: grey; */
} 

.loaderOne > div {
    border: 6px solid  red;
    border-top: 6px solid #d2c0c0;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    /* animation-name: loaderOneSpinner;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out; */
    animation: loaderOneSpinner 2s linear infinite;
    /*? animation-direction was used to give direction of our animation too !!!!  */
    animation-direction: reverse;
    /* It create our direction reverse of our animation */
    animation-direction: alternate-reverse;
    /* It create our direction alternate-reverse of our animation */
    animation-direction: alternate;
    /* It create our direction alternate means our animation direction was alternate */
} 

@keyframes loaderOneSpinner {
    from {
        transform: rotate(0);
    }
    
    to {
        transform: rotate(360deg);
    }
} 

/* ---------------------- X ------------------------------------------ */ 

.loaderTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-top: 30px;

} 


.loaderTwo > div {
    border: 5px solid violet;
    border-top: 5px solid #cdc3c3;
    border-bottom: 5px solid #cdc3c3;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    animation: loaderTwoSpinner 2s linear infinite;
}  


@keyframes loaderTwoSpinner {
    from {
        transform: rotate(0);
    } 

    to {
        transform: rotate(360deg);
    }
}