.inputWrapper {
    margin: 1rem;
}

.input {
    width: 30%;  
    padding : 1rem; 
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
}  

.errorInput {
    width: 30%;  
    padding : 1rem; 
    border-radius: 5px;
    border: 1px solid red;
    font-size: 1rem;
} 

.errorText {
    color: red;
    font-size: 1rem;
}