html {
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
} 


/*! If we want to reuse the same CSS value in multiple places, we can create a variable to store that value. Then we can use the variable instead of repeating the actual value every time. */ 

/*? We use :root pseudo class selector which was means the root element same as html element but this :root selector has high precedance as compare so every css variables we are create under the root folder only  */
:root {
    --Limesicle:#F2EBBF;
    /*! We create variable with the help of double hyphen symbol */
    --Morning-green:#8CBEB2;
    --Jacqueline-color:#5C4B51;
    --Crunch:#F3B562;
    --Dubarry:#F06060;
    /* Above we see how we declare the variable now let understand how can we use this variables value */
}


/* Let use this css variables */
body {
    background-color: var(--Limesicle);
    /*! We var function in css to use our css variable values and apply styling to that  */
    margin: 0;
    padding: 0;
    /* We set our padding & margin to 0 pixels and  because all of the browser was also give default margin and padding to some elements and we want to style our elements manually so initially or default we give this both 0 px. */
    color: black;
} 


/*? Now this all headings tags h1,h2,h3,h4,h5,h6 have the extra margin was giving to top and bottom and this margin was given in em which was css unit for font-size.  */
/* There are more types of css unit the main two units was em & rem  */ 
/*? em css unit  */
/* The em CSS unit is a relative font-size unit that is based on the font size of its parent element. When used by child elements, it calculates size relative to the parent. The 1em = 16px default and we can change that also. */ 

/*? rem css unit */
/* The rem css unit was also relative font-size unit that is based on the font-size of root element of our html document which was html element and all the children of root element inherit that font-size. here also 1rem = 16px only. */ 

/*! This rem & em was relative units was scalable as compare to pixels which was absolute unit so we mainly use rem than em unit for font-size. */ 

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    /* border: 2px solid red;
    margin: 10px; */
} 

/* #about-me {
    border: 2px solid red;
    margin: 5px;
}  */

/*? Now in our intro section the h2 element i give  margin 10px on bottom 7 similarly i give margin 5px on top so vertically whenver we apply margin than that margin was bigger that was applied and les or minimum margin was not applied that concept was called as "margin collapse" in which bigger margin apply as compare to other margin. */  

#intro {
    margin: 4rem 1rem 5rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1.5rem;
    /* When we give font-size equal to 1rem than this section font-size relative to root element or html element    */
    /* color: var(--Jacqueline-color); */
    line-height: 6px;
    /* With the help of line-height property we can define the line height of our elements or box.  */
    /*! We don't  give the line-height in absolute font-size css instead give in relative unit or only give 1.5 or 2 for our line-height so it scale according to that only in all our devices if we give absolute or fixed value the line-height will be overlap in different devices. */
    line-height: 1.5;
} 

/* Applying styling on my name span tag*/
.name span {
    display: block;
    /*! Now here we use display property in css and give block value means we convert our span tag which was natuarlly was inline block but with the help of display property we convert this inline element into block level element. */
    font-size: 4rem;  /*? 4 rem = 4 * 16px = 64px */
    color: var(--Dubarry);
} 

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
    /*? Here we use font-weight  property to increase or decrease the thickness and boldness of our text here we give font-weight normal. */
}  


#experience a {
    color: var(--Dubarry);
    text-decoration: none;
}

#experience ul {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

#experience li  {
    /* Now we want to remove bullet points from the li than we use property "list-style-type"  with the help of it we can add multiple list style or remove list-style */
    list-style: none;
} 

#hire {
    width: 400px;
    text-align: center;
    /* With the help of this text-align property we can align our content in horizontal direction of our html element. */
    margin:  0 auto;
    /* ! When we give margin by two value than first value belongs to top & bottom margin and the second value auto was left & right margin. */
    padding: 3rem 0;
    background-color: var(--Jacqueline-color);
    color: aliceblue;
}

#hire p {
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 1.5;
} 

.section-Jacqueline-color {
    background-color: var(--Jacqueline-color);
} 

nav {
    font-size: 100%;
    padding: 1rem;
    margin-left: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--Dubarry);
    font-size: 1.4rem;
}  

nav a:hover {
    /* text-decoration: underline; */
    color: var(--Morning-green);
}

nav li:first-child {
    flex-grow: 1;
    font-size: 1.5rem;
}

.button {
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 6px;
} 

.button:hover {
    background-image:linear-gradient(90deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
}