html {
    box-sizing: border-box;
    
}

*,*::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body {
    background-color:#F4F2EE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
} 

#linkedin-card {
    width: 35vw;
    /* height: 50vh; */
    background-color: white;
    border-radius: 6px;
    border: 1px solid #808080e2;
} 

#header-section {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
} 

#header-section img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
} 

#header-section p {
    flex-grow: 1;
} 

#header-section p > span {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.893);
} 

#header-section .fa-ellipsis {
    font-size: 20px;
    color: #413e3ee2;
}

.separater-section {
    height: 1px;
    margin: 4px;
    width: 95%;
    background-color: #746e6e3a;
    border-radius: 5px;
    margin: 0 auto;
} 


#post-section {
    padding: 10px;
}  

#post-user-info {
    display: flex;
    align-items: start;
    gap: 5px;
}

#post-user-info img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
} 

#post-user-info p > .user-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
} 

#post-user-info p > span:nth-child(2) { 
    color: #808080e2;
    font-size: 1.2rem;
    font-weight: 500;

} 

#post-user-info p {
    color: #696666e2;
} 

#user-posting {
    padding: 10px;
    font-size: 1.3rem;
} 


#user-posting {
    line-height: 1.5;
} 

footer {
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

footer div {
    padding: 3px;
    font-size: 1.2rem;
} 


