/*! Units in CSS */

div {
  width: 100px;
  height: 100px;
  /*? We give width and height property for this div element in pixels "px". */
  background-color: orange;
  color: white;
  padding: 5px;
}

section {
  width: 600px;
  height: 600px;
  color: rgb(99, 6, 6);
  background-color: aqua;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  padding: 5px;
}
